/* Map.css */

.map {
  width: 100%;
  height: 90vh;
  /* Add any other styles you need for the map container */
}

.orange-marker {
  background-size: cover;
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.triangle-marker {
  width: 10px;
  height: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid blue;
}
.square-marker {
  width: 20px;
  height: 20px;
  background-color: purple;
}
.orangeLot {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 50%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.legend span {
  font-family: "Libre Baskerville", serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-left: 5px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid blue;
}

.legend {
  position: absolute;
  top: 150px;
  right: 50px;
  background-color: darkgreen;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.legend h3 {
  font-family: "Libre Baskerville", serif;
  color: #ffd700;
  text-align: center;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-rectangle {
  background-color: green;
  margin-bottom: 10px;
}

.info-button {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1; /* Ensure the button is above the map */
  background: none;
  border: none;
  cursor: pointer;
}

.info-button img {
  width: 30px;
  height: 30px;
}
